.btn
{
    margin-top: 10px;
}

.costum-btn-width-1
{
    width: 150px;
}

.header
{
    margin-top: 20px;
}

.horizontal-rule
{
    width: 50%;               
    background-color:#ffffff;
    height: 3px;
    margin-bottom: 100px;
}